In [3]:
print('Hacktiv8')

Hacktiv8

## Integer

Integer adalah tipe data di Phyton yang berupa angka

In [4]:
print(123123)

123123

In [5]:
print(10)

10

In [6]:
type(10)

int

In [8]:
4.2

4.2

In [9]:
4.

4.0

In [10]:
.2

0.2

In [11]:
.4e7

4000000.0

In [12]:
4.2e-4

0.00042

## Strings

String adalah tipe data di Python yang berupa sequence of character data

In [13]:
print('ini adalah tipe data string')

ini adalah tipe data string

In [14]:
type('ini adalah tipe data string')

str

In [27]:
print("This string cotains adouble quote (') character"))

SyntaxError: invalid syntax (<ipython-input-27-073a38c8c62e>, line 1)

## Boolean

Boolean adalah tipe data di pyton yang berupa true atau false

In [18]:
True

True

In [19]:
False

False

In [20]:
type(True)

bool

In [21]:
type(False)

bool

In [22]:
type('True')

str

In [23]:
type(1)

int

In [24]:
type('1')

str

## Variables
### variables Assignment

In [29]:
n = 300

In [30]:
n

300

In [31]:
print(n)

300

In [33]:
n = k = 300
print(n, k)

300 300

### Variables Names

In [35]:
name = 'Kukuh'
Age = 27
has_laptops = True
print(name, Age, has_laptops)

Kukuh 27 True

In [36]:
9_kepala_naga = true

SyntaxError: invalid token (<ipython-input-36-eedf5567a805>, line 1)

In [38]:
bola_naga_9 = True

In [40]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6 
age_7 = 7 
_AGE_ = 8 

print (age, Age, aGe, AGE, a_g_e)

1 2 3 4 5

## Operators and Expression in Python

In [41]:
a = 10 
b = 20

In [43]:
a + b

30

In [44]:
a + b - 5

25

In [46]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [47]:
10 / 5

2.0

### Compariosn Operators

In [51]:
a = 10
b = 20 

print(a==b) # sama dengan
print(a!=b) # tidak sama dengan
print (a<=b)
print(a>=b)

False
True
True
False

### String Manipulation

In [57]:
# + Operators

s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

foobar

In [58]:
s + t + u

'foobarbaz'

In [59]:
print('Hacktiv8' + 'Inalum')

Hacktiv8Inalum

In [60]:
# * Operators

s * 4

'foofoofoofoo'

In [61]:
# In Operators 

s = 'foo'
t = 'bar'
u = 'baz'

s in 'That food for us'

True

In [62]:
s in 'That good for us'

False

In [66]:
# Case Conversion 

s = 'HacKTIvAte iNalum'

In [67]:
# Capitalize 

s.capitalize()

'Hacktivate inalum'

In [68]:
# Title 

s.title()

'Hacktivate Inalum'

In [69]:
# lower
print(s.lower())

#uppercase 
print(s.upper())

hacktivate inalum
HACKTIVATE INALUM

In [70]:
#Swapcase 
s.swapcase()

'hACktiVaTE InALUM'

## List 

ditandai dengan []

In [72]:
a = ['foo','bar','baz', 'qux']

In [73]:
a

['foo', 'bar', 'baz', 'qux']

In [74]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.1415]

In [75]:
a

[21.42, 'foobar', 3, 4, 'bark', False, 3.1415]

In [76]:
b = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge'  ]

In [77]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [78]:
b[0]

'foo'

In [79]:
b[5]

'corge'

In [80]:
b [-5]

'bar'

In [82]:
# Slicing 

b[2:5]

['baz', 'qux', 'quux']

In [84]:
b[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [86]:
b[2:]

['baz', 'qux', 'quux', 'corge']

In [87]:
b * 2

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [88]:
print(b)

len(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

6

In [89]:
min(b) #beruntun dari abjad

'bar'

In [90]:
max(b) #beruntun dari abjad

'qux'

In [93]:
c = [1,2,3,5]
print(min(c))
print(max(c))

1
5

### Modifying Single list value

In [95]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [97]:
b[2] = 10

In [98]:
b

['foo', 'bar', 10, 'qux', 'quux', 'corge']

In [99]:
b[-1] =20

In [100]:
b

['foo', 'bar', 10, 'qux', 'quux', 20]

In [101]:
del b[3]

In [102]:
b

['foo', 'bar', 10, 'quux', 20]

### Modifying Multiple List Value

In [103]:
b

['foo', 'bar', 10, 'quux', 20]

In [104]:
b [1:4]

['bar', 10, 'quux']

In [105]:
b[1:4] = [1.1,2.2,3.3]

In [106]:
b

['foo', 1.1, 2.2, 3.3, 20]

## Tuples

In [107]:
t = ('foo','bar', 'baz', 'qux', 'quux', 'corge')

In [108]:
t[0]

'foo'

In [109]:
t[0] = 'newValue'

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [114]:
identitas = {
    'Fnama' : 'Kukuh',
    'Lname' : 'Yudiarto',
    'Age' : 27
}

In [115]:
identitas ['Age']

27

In [116]:
identitas ['Fnama']

'Kukuh'

In [117]:
identitas ['Alamat']

KeyError: 'Alamat'

In [120]:
identitas['Pekerjaan'] = 'Karyawan'

In [121]:
identitas

{'Fnama': 'Kukuh', 'Lname': 'Yudiarto', 'Age': 27, 'Pekerjaan': 'Karyawan'}

In [122]:
identitas ['Pekerjaan']

'Karyawan'

In [123]:
identitas ['Pekerjaan'] ='BUMN'

In [124]:
identitas

{'Fnama': 'Kukuh', 'Lname': 'Yudiarto', 'Age': 27, 'Pekerjaan': 'BUMN'}

In [125]:
del identitas ['Pekerjaan']

In [126]:
identitas

{'Fnama': 'Kukuh', 'Lname': 'Yudiarto', 'Age': 27}

In [127]:
person = {}

In [128]:
type (person)

dict

In [129]:
person['fname'] = 'Nama depan'
person['lname'] = 'Nama belakang'
person ['age'] = 27 
person ['wife'] = ('istri 1', 'istri 2', 'istri 3')

In [130]:
person

{'fname': 'Nama depan',
 'lname': 'Nama belakang',
 'age': 27,
 'wife': ('istri 1', 'istri 2', 'istri 3')}

In [131]:
person['pets'] = {'cat', 'dog'}

In [132]:
person

{'fname': 'Nama depan',
 'lname': 'Nama belakang',
 'age': 27,
 'wife': ('istri 1', 'istri 2', 'istri 3'),
 'pets': {'cat', 'dog'}}

In [133]:
person['wife']

('istri 1', 'istri 2', 'istri 3')

In [136]:
person['wife'][1]

'istri 2'

In [138]:
person['pets']={'cat': 'catname','dog': 'dogname'}

In [139]:
person['pets']['cat']

'catname'

In [141]:
d = [1, 2, 3 [4 ,5 ,6 ], 7]

TypeError: 'int' object is not subscriptable

In [142]:
d = {'a': 10,'b': 20, 'c': 30}

In [143]:
d

{'a': 10, 'b': 20, 'c': 30}

In [144]:
#keys
d.keys()

dict_keys(['a', 'b', 'c'])

In [145]:
#value 
d.values()

dict_values([10, 20, 30])

In [147]:
# Python Statements

print('Hello World!')

x = [1, 2, 3]

Hello World!

In [151]:
# Line Continuation

person1_age = 42
person2_age = 16 
person3_age = 71 

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or person2_age >= 18 and someone_is_of_working_age

In [153]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or
    (person2_age >= 18 and person2_age <= 65) or
    (person3_age >= 18 and person3_age <= 65)
)

In [154]:
a = [(1, 2, 3, )]

In [155]:
a =(

SyntaxError: unexpected EOF while parsing (<ipython-input-155-44b2e537d7cd>, line 2)

In [156]:
s =\
'Hello World'

In [157]:
s = 
'Hello World'

SyntaxError: invalid syntax (<ipython-input-157-f65837dced61>, line 1)

In [158]:
s

'Hello World'

In [159]:
# Multiple Statemenst per Line 

x = 1; y = 2; z = 3

print(x); print(y); print(z)

1
2
3

In [160]:
# Comments

a = ['foo', 'bar'] # i am comment

In [161]:
a

['foo', 'bar']

In [162]:
b = '# im not a comment'

In [163]:
b

'# im not a comment'

In [165]:
"""
Initialiaze value for radius of circle

Thne calculate teh area of circle 
and display the result to notebook
"""

pi = 3.14 
r = 12

area = pi * (r ** 2)
print('The area of circle', area)

The area of circle 452.16

## Conditional

In [169]:
# If Statement

x = 0
y = 5

if x < y:
    print('yes')
    
if y < x:
    print('yes')
    
if 'aul' in 'grault':
    print('yes')

yes
yes

In [170]:
if <exprs>:
    <sttm>
    <sttm>
    <sttn> 
    
<statement>

SyntaxError: invalid syntax (<ipython-input-170-1f7f2b3fe6fd>, line 1)

In [171]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('expression was true')
    print('...')
    print('done')

print('after conditional')

after conditional

In [172]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('expression was true')
    print('...')
    print('done')

print('after conditional')

expression was true
...
done
after conditional

In [173]:
if 'foo'in ['foo', 'bar', 'baz']:
    print('outer concition true')
    
    if 10> 20: 
        print('inner condition 1')
        
    print('between inner conditions')
     
    if 10 < 20:
            print('inner condition 2')
            
    print('end outer condition')

print('after outer condition')

outer concition true
between inner conditions
inner condition 2
end outer condition
after outer condition

In [174]:
# else dan elif

if <expr>:
    <statement>
else:
    <statement>

SyntaxError: invalid syntax (<ipython-input-174-4b43f4317afa>, line 3)

In [175]:
x = 20 

if x <50: 
    print('x is small')
else:
    print('x is large')

x is small

In [176]:
x = 20 

if x >50: 
    print('x is small')
else:
    print('x is large')

x is large

In [177]:
if <expr>:
    <statement>
elif <expr>:
    <statement>
elif <expr>:
    <statement>    
else:
    <statement>

SyntaxError: invalid syntax (<ipython-input-177-0277f506ccc6>, line 1)

In [178]:
name = 'Hacktive'

if name

SyntaxError: invalid syntax (<ipython-input-178-56328142a339>, line 3)

In [179]:
if 'a' in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:
    print('wrong also')

right

In [180]:
if 'c' in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:
    print('wrong also')

ZeroDivisionError: division by zero

In [ ]:
One Line if statements

if <expr>:
    <statement>
    
if <expr>: <statemnt>
    
if <expr>: <statemnt>; <statemnt2>; <statemntn>

In [183]:
if 'f' in 'foo' : print ('1'); print('2'); print('3')

1
2
3

In [184]:
x = 2

if x == 1: print('foo'); print('bar')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [185]:
x = 2

if x == 1: 
    print('foo')
    print('bar')
elif x == 2: 
    print('qux') 
    print('quux')
else: 
    print('corge') 
    print('grault')

qux
quux

In [186]:
## Ternary Operator (Conditional Expression)

<expr1> if <condt_expr> else <expr2>

SyntaxError: invalid syntax (<ipython-input-186-adacfb743ba2>, line 3)

In [187]:
age = 12

'teen' if age <21 else 'adult'

'teen'

In [190]:
age = 22

'teen' if age <21 else 'adult'

'adult'

In [191]:
if a > b:
    m = a
else: 
    m = b

m = a if a > b else b

TypeError: '>' not supported between instances of 'list' and 'str'

In [196]:
## Pass statement

if True: 
    
    
print('foo')

IndentationError: expected an indented block (<ipython-input-196-b74c26e1c932>, line 6)

In [195]:
if True: 
    pass
    
print('foo')

foo

In [ ]:
## while

while <expr>:
    <statement>

In [198]:
n = 5

while n > 0: 
    n -= 1
    print (n)

4
3
2
1
0

In [ ]:
#break dan continue

In [200]:
n = 5

while n > 0:
    n -= 1
    if n == 2: #4 != 2
        break
    print(n)
    
print('Loop Ended')

4
3
Loop Ended

In [201]:
n = 5

while n > 0:
    n -= 1
    if n == 2: #4 != 2
        continue
    print(n)
    
print('Loop Ended')

4
3
1
0
Loop Ended

In [ ]:
# else clause

while <expr>:
    <statement>
else:
    <additional_statement>

In [202]:
n = 5

while n > 0:
    n -= 1
    print(n)
else:
    print('loop done')

4
3
2
1
0
loop done

In [203]:
n = 5

while n > 0:
    n -= 1
    if n == 2: #4 != 2
        break
    print(n)
else:
    print('Loop Ended')

4
3

In [205]:
# One - line while loops

n = 5

while n > 0: n -= 1; print(n)

4
3
2
1
0

In [ ]:
# For Loops

for <var> in <iterable>:
    <statement>

In [206]:
a = ['foo', 'bar', 'baz']

for i in a: 
    print(i)

foo
bar
baz

In [207]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k in d: 
    print(k)

foo
bar
baz

In [208]:
for k in d:
    print(d[k])

1
2
3

In [209]:
d ['foo']

1

In [210]:
for v in d.values():
    print(v)

1
2
3

In [ ]:
# range function

x = range(5)

In [212]:
# range function

x = range(5)

In [213]:
x

range(0, 5)

In [214]:
for n in x:
    print(n)

0
1
2
3
4

In [215]:
# break dan continue

In [221]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [218]:
for i in ['foo', 'bar', 'baz']:
    if 'q' in i:
        break
    print(i)

foo
bar
baz

In [220]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        continue
    print(i)

foo
bar
qux

In [222]:
#else clause

for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('done')

foo
bar
baz
qux
done

In [223]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)
else:
    print('done')

foo
bar

In [12]:
temp = input("Ketikan tempeatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else: 
    print("masukan input yang benar")
print("temperaturenya adalah", result)

Ketikan tempeatur yang ingin dikonversi, eg. 45F, 28C: 25
masukan input yang benar
temperaturenya adalah 77

In [15]:
while True:
    msg = input("ketikan karakter:")
    print(msg)
    if msg == 'stop':
        break

ketikan karakter:

ketikan karakter:a
a
ketikan karakter:a
a
ketikan karakter:b
b
ketikan karakter:stop
stop

In [16]:
while True:
    msg = input("ketikan karakter:").lower()
    print(msg)
    if msg == 'stop':
        break

ketikan karakter:A
a
ketikan karakter:B
b
ketikan karakter:STOP
stop